@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
/* .side-bar-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.login {
  border: 2px solid white;
  padding: 20px;
  width: 500px;
}
.login input {
  padding: 10px 0px 10px 0px;
  margin: 10px 10px 10px 10px;
  width: 300px;
  border: 2px solid white;
}

.login button {
  border: 2px solid white;
  width: 120px;
  align-items: center;
  cursor: pointer;
}
.AddNewPost form input {
  border: 2px solid white;
  width: 320px;
  height: 50px;
}
.AddNewPost form button {
  border: 2px solid white;
  width: 120px;
  height: 50px;
  cursor: pointer;
} */
